html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 100%;}
body{
    background-color: #e6e2d7;
    color: #000;
    font-family: 'Noto Serif JP', serif;}
a{
    text-decoration: none;
    color: #fff;}
img{
    max-width: 100%;
    vertical-align: bottom;}
ul{
    padding: 0;}
li{
    list-style: none;}

.wrapper{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;}

/* Header */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/mainvisual-pc.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 80px;
    margin-bottom: 180px;
    position: relative;
    writing-mode: vertical-rl;}
#header .logo{
    line-height: 1px;
    margin-left: 60px;}
#header .logo img{
    width: 40px;}
#header li{
    color: #fff;
    margin-left: 25px;}
#header .onlinestore{
    background: rgba(255,255,255,0.2);
    padding: 8px;
    position: absolute;
    left: 40px;
    bottom: 30px;}
#header .onlinestore a{
    display: block;
    border: solid 1px #ccc;
    padding: 30px 18px;}
#header .onlinestore a:hover{
    opacity: 0.7;}

/* News */
#news{
    margin-bottom: 80px;
    display: flex;
    flex-direction: row-reverse;}
#news .section-title{
    font-weight: normal;
    line-height: 1;
    writing-mode: vertical-rl;}
#news .section-title .title-en{
    display: block;
    font-size: 0.875rem;
    margin-left: 15px;}
#news .section-title .title-jp{
    display: block;
    font-size: 2.25rem;
    letter-spacing: 0.1rem;}
#news .news-list{
    padding: 80px 100px 0 0;
    writing-mode: vertical-rl;}
#news .news-list dt{
    border-right: solid 1px #000;
    font-size: 0.75rem;
    padding: 15px 30px 15px 5px;}
#news .news-list dd{
    margin: 0;
    padding: 15px 0 15px 30px;}
#news .news-list dd:last-child{
    border-left: solid 1px #000;}

/* Product */
.product{
    display: flex;
    margin-bottom: 180px;}
.product .section-title{
    font-weight: normal;
    writing-mode: vertical-rl;
    margin-left: 20px;
    line-height: 1;}
.product .section-title .title-jp{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 18px;}
.product .section-title .title-en{
    font-size: 0.875rem;}
.product .product-list{
    width: 65%;
    position: relative;
    margin-top: 100px;}
.product .product-list p{
    width: 56%;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    position: absolute;
    bottom: -30px;}

#value{
    flex-direction: row-reverse;}
#value .product-list p{
    background: rgba(249, 233, 6, 0.6);
    left: -20px;}
#technology .product-list p{
    background: rgba(149, 42, 38, 0.6);
    right: -20px;}

/* map */
#map iframe{
    width: 100%;
    vertical-align: bottom;}

/* Footer */
#footer{
    color: #fff;
    background-color: #000;
    padding: 80px 80px 30px 80px;}
#footer .footer-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    margin-bottom: 10px;}
#footer .footer-items .left,
#footer .footer-items .right {
    writing-mode: vertical-rl;}
#footer .footer-items .right .logo{
    width: 40px;
    margin-left: 60px;}
#footer .footer-items .right .info{
    line-height: 2;}
#footer .footer-items .right .menu{
    font-size: 1rem;
    margin-right: 60px;}
#footer .footer-items .right .menu li{
    margin-right: 25px;}
#footer .copyright{
    font-size: 0.625rem;
    text-align: center;}

/* SP */
@media screen and (max-width: 768px){
    .wrapper{
        max-width: 100%;}
    #header, #news, #value, #technology{
        margin-bottom: 80px;}
    #header{
        background-image: url(../img/mainvisual-sp.jpg);
        padding: 20px;}
    #header .onlinestore{
        left: 20px;
        bottom: 20px;}
    #news .section-title .ja{
        font-size: 1.75rem;}
    #news .news-list{
        padding: 20px 30px 0 0;}
    #news .news-list dt{
        padding: 15px 12px 15px 5px;}
    #news .news-list dd{
        padding: 15px 0 15px 12px;}
    #news .news-list dt:nth-of-type(n+4), 
    #news .news-list dd:nth-of-type(n+4){
        display: none;}
    #news .news-list dd:nth-of-type(3){
        border-left: solid 1px #000;}
    .product .section-title .title-ja{
        font-size: 1.5rem;}
    .product .section-title .title-en{
        display: none;}
    .product .product-list{
        width: 90%;    
        margin-top: 70px;}
    .product .product-list p{
        width: 64%;
        font-size: 0.875rem;
        padding: 30px 0;}
    #footer{
        padding: 40px 20px 30px 20px;}
    #footer .footer-items .right .logo{
        margin-left: 15px;}
    #footer .footer-items .right .menu{
        font-size: 0.875rem;
        margin-right: 25px;}    
    #footer .footer-items .right .menu li{
        margin-left: 10px;}   

}