html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;}
body{
    color: #24292e;
    font-family: "Times New Roman", Times, serif;}
a{
    color: #24292e;
    text-decoration: none;}
img{width: 100%;}
li{list-style: none;}

.container{
    font-size: 0.9rem;
    max-width: 960px;
    margin: 0 auto 130px auto;
    padding: 0 4%;}
.site-title{
    width: 110px;
    line-height: 1px;}
.site-title a{
    display: block;}
.section-title{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;}

/* Header */
#header{
    max-width: 960px;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 4%;}
#header ul{
    display: flex;
    padding: 10px 0;}
#header li{
    font-size: 0.9rem;
    margin-left: 30px;}
#header li a:hover {
    opacity: 0.7;}
#header li img.icon{
    width: 20px;}

/* Hero */
#hero{
    margin-bottom: 80px;}
#hero img{
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;}

/* About */
#about{
    margin-bottom: 80px;}
#about ul {
    margin-bottom: 30px;}
#about ul:last-child {
    margin-bottom: 0;}
#about p {
    text-align:justify;
    margin-bottom: 30px;}

/* Works */
#works ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;}
#works li{
    width: 31%;
    margin-bottom: 23px;}

/* News */
#news{
    margin-bottom: 80px;}
#news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;}
#news dt{
    box-sizing: border-box; 
    width: 20%;
    margin: 0;
    padding: 15px;
    border-bottom: solid 1px #c8c8c8;}
#news dd{
    box-sizing: border-box; 
    width: 80%;
    margin: 0;
    padding: 15px;
    border-bottom: solid 1px #c8c8c8;}

/* Contact */
#contact dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;}
#contact dt{
    box-sizing: border-box; 
    width: 15%;
    margin: 0;}
#contact dd{
    box-sizing: border-box; 
    width: 85%;
    margin: 0 0 10px 0;}
#contact dd input, #contact dd textarea {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;}
#contact dd textarea {
    height: 10rem;}
#contact .button{
    text-align: center;}
#contact .button input{
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;}
#contact .button input:hover {
    background: #fff;
    color: #24292e;}

/* Footer */
#footer {
    text-align: center;
    background-color: #24292e;
    color: #fff;
    font-size: 0.5rem;
    padding: 10px 20px;}

/* SP */
@media screen and (max-width: 600px){
    .container {
        margin-bottom: 70px;}
    .site-title {
        margin-top: 20px;}
    .section-title {
        margin-bottom: 40px;}
    #header{
        flex-direction: column;
        height: auto;}
    #works li{
        width: 100%;}
    #news dt, #news dd{
        width: 100%;}
    #news dt{
        border: none;    } 
    #contact dt,#contact dd{
        width: 100%;}
}