html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;}
body{
    color: #2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;}
img{max-width: 100%;}
a{color:#2b2a27;}
ul{
    margin: 0;
    padding: 0;
    list-style: none;}
.container{
    text-align: center;
    width: 100%;}

/* Hero */
#hero img{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    margin: 0 0 80px 0;
    padding: 0;
    object-fit: cover;
    object-position: center top;}

/* Intro */
#intro{
    padding: 0 20px;
    margin-bottom: 80px;}
#intro h1{
    margin-bottom: 20px;}

/* Recipe */
#recipe{
    display: flex;
    width: 100%;
    margin: 0 0 60px 0;
    padding: 0;}
#recipe li{
    width: calc(100%/3);}
#recipe li img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    vertical-align: bottom;}

/* Detail */
#detail{
    display: inline-block;
    border: solid 1px #2b2a27;
    font-size: 0.875rem;
    padding: 18px 60px;
    text-decoration: none;}

/* Footer */
#footer{
    font-size: 0.75rem;
    padding: 20px;}
#footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;}
#footer li{
    margin: 0 10px;}

/* SP */
@media screen and (max-width: 843px){
    #recipe{
        flex-direction: column;}
    #recipe li{
        width: 100%;}}