html{font-size: 100%;}
body{
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;}
img{max-width: 100%;}
a{
    text-decoration: none;
    color: #333;}
li{list-style: none;}

.wrapper{
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;}
.readmore{
    font-size: 0.875rem;
    text-align: center;}
.readmore a{
    padding-bottom: 1px;
    color: #333;
    position: relative;}
.readmore a::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333;
    transition: all 200ms ease;}
.readmore a:hover::after{
    opacity: 0;
    transform: translateY(3px);}

/* Header */
#header{
    width: 100%;
    background-color: #fff;
    z-index: 10;}
#header .logo{
    padding: 20px 16px;
    line-height: 1px;}
#navi{
    background-color: #333;}
#navi a{
    color: #fff;}
#navi ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;}
#navi li{
    font-size: 0.875rem;
    padding: 10px 60px 10px 0;}

/* Pickup */
#pickup{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-top:30px;}
#pickup article{
    width: 32%;}
#pickup article .pickup-title{
    font-size: 1.3rem;
    margin: 3px 0 5px 0;}
#pickup article .pickup-readmore{
    text-decoration: underline;
    text-align: center;
}

/* Container */
#container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px}
#container main{
    width: 65%;}
#container aside{
    width: 33%;
    padding: 20px;;}

/* Main */
main article{
    margin-bottom: 80px;}
main .main-title{
    font-size: 1.5rem;
    margin: 10px 0;}
main .meta{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;}
main .meta li{
    margin-right: 20px;}
main .main-text{
    padding: 10px 40px 30px 40px;}

/* Aside */
aside section{
    margin-bottom: 60px;}
aside .side-title{
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;}
#author{
    text-align: center;}
#author img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border-bottom: 30px;}
#ranking article{
    margin-bottom: 30px;}
#ranking .article-title{
    font-size: 0,875rem;
    font-weight: normal;
    text-align: left;}
#archive ul{
    border-top: solid 1px #777;}
#archive li{
    font-size: 0.875rem;
    text-align: left;
    border-bottom: solid 1px #777;
    padding: 15px;}

/* Footer */
#footer{
    font-size: 0.875rem;
    background-color: #f7f7f7;}
#footer .footer-info{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    padding-bottom: 50px;}
#footer .footer-about, #footer .footer-menu, #footer .footer-twitter{
    width: 30%;}
#footer .footer-title{
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: 30px;}
#footer .about-list{
    margin: 20px 0;}
#footer .about-list li{
    margin-bottom: 5px;}
#footer .about-list .arrow{
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: #333;}
#footer .about-list .arrow::before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;}
#footer .footer-menu .menu-list{
    border-top: solid 1px #777;}
#footer .footer-menu .menu-list li{
    border-bottom: solid 1px #777;
    padding: 15px;
    text-align: left;}
#footer .copyright{
    font-size: 0.75rem;
    padding: 10px 0;
    text-align: center;}

/* SP */
@media screen and (max-width: 767px){
    #navi {
        overflow-x: scroll; }
    
    #pickup{
        flex-direction: column;}
    #pickup article{
        width: 100%;
        margin-bottom: 30px;}
    
    #container{
        flex-direction: column;}
    #container main, #container aside{
        width: 100%;
        padding: 0;}
    
    #footer .footer-info{
        flex-direction: column;}
    #footer .footer-info section{
        width: 100%;
        margin-bottom: 30px;}    
}