html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;}
body{
    color: #333;
    font-size: 0.875rem;
    min-height: 100vh;
    position: relative;}
img{max-width: 100%;}
a{
    color: #333;
    text-decoration: none;
    transition: all 0.5s;}
a:hover{
    opacity: 0.7;}
ul{padding: 0;}
li{list-style: none;}

.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;}
.content {
  padding-top: 120px;
  padding-bottom: 160px;}
.page-title{
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: 30px;}

/* Header & Navi Toggle */
#header{
    width: 100%;;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index:10}
#header .logo{
    width: 180px;
    line-height: 1px;
    display: block;}
#navi{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 36px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;}
#navi a{
    color: #fff;}
#navi li{
    margin-bottom: 14px;}
.open #navi{
    left: 0;
    opacity: 1;}
.toggle_btn{
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;}
.toggle_btn span{
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;}
.toggle_btn span:nth-child(1){
    top: 10px;}
.toggle_btn span:nth-child(2){
    bottom: 10px;}
.open .toggle_btn span{
    background-color: #fff;}
.open .toggle_btn span:nth-child(1){
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);}
.open .toggle_btn span:nth-child(2){
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);}
#mask{
    display: none;
    transition: all 0.5s;}
.open #mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;}

/* Products */
#top{
    padding-top: 80px;
    padding-bottom: 160px;}
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;}
.product-list img{
    margin-bottom: 10px;
    vertical-align: top;}
.product-list p{
    font-size: 0.75rem;}
.link-text{
    display: block;
    text-align: center;
    margin-top: 40px;}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 40px;}
.pagination li{
    padding: 0 20px;}


/* Footer */
#footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;}
#footer .sns ul{
    display: flex;}
#footer .sns li{
    font-size: 0.75rem;
    margin-right: 30px;}
#footer .copyright{
    font-size: 0.625rem;}

/* Item */
#item{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;}
#item .item-image{
    width: 50%;}
#item .item-info{
    width: 42%;}
#item .item-info p{
    margin-bottom: 30px;
    text-align: justify;}
#item .item-info dl{
    display: flex;
    flex-wrap: wrap;}
#item .item-info dt{
    box-sizing: border-box;
    width: 30%;}
#item .item-info dd{
    box-sizing: border-box;
    width: 70%;
    margin: 0;}


/* About */
#about{
    max-width: 600px;}
#about p{
    line-height: 1.9;
    margin-bottom: 30px;}

/* Company */
#company{
    max-width: 600px;}
#company dl{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;}
#company dt{
    width: 30%;}
#company dd{
    width: 70%;}
#company dt,
#company dd{
    box-sizing: border-box;
    border-bottom: solid 1px #dcdbdb;
    margin: 0;
    padding: 20px 10px;}
#company dt:last-of-type,
#company dd:last-of-type{
    margin-bottom: 0;}
#company .company-location {
  filter: grayscale(1);}
#company .company-location  iframe {
  width: 100%;
  height: 300px;
  border: 0;}

/* SP */
@media screen and (max-width: 900px){
    .product-list{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px}
    
    #item{
        flex-direction: column;}
    #item .item-image{
        width: 100%;}
    #item .item-info{
        width: 100%;
        margin: 30px 0;} 

    #company dl{
        flex-direction: column;}
    #company dt{
        width: 100%;
        border: none;
        padding-bottom: 5px;}
    #company dd{
        width: 100%;
        padding-top: 5px;}

    #footer{
        flex-direction: column;}
    #footer .sns{
        margin-bottom: 5px;}
}