html, body{
    font-size: 100%;
    margin: 0;
    padding: 0;}
body{
    color: #2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;}
img{width: 100%;}
ul{list-style: none;}
a{color: #2b2a27;}

/* Overview */
#overview{
    display: flex;
    margin-bottom: 60px;
    width: 100%;}
#overview .image{
    width: 50%;}
#overview .image img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    vertical-align: bottom;}

#overview .recipe{
    width: 50%;
    padding: 40px 5% 0 5%;}
#overview .recipe h2{
    font-size: 1.75rem;
    margin-bottom: 20px;}
#overview .recipe .content-title{
    border-bottom: solid 1px #ccc;
    font-size: 1.25rem;
    padding-bottom: 5px;
    margin: 40px 0 15px 0;}
#overview .ingredient dl{
    display: flex;
    flex-wrap: wrap;}
#overview dt, dd, li{
    border-bottom: dotted 1px #ccc;
    margin: 0;
    padding: 6px 0}
#overview .ingredient dt{
    width: 85%;}
#overview .ingredient dd{
    width: 15%;
    text-align: right;}
#overview .steps ol{
    margin: 0;
    padding: 0;}
#overview .steps li{
    margin-left: 20px;}


/* Detail */
#detail{
    text-align: center;
    border-bottom: 80px;}
#detail a{
    text-decoration: none;
    display: inline-block;
    border: solid 1px #2b2a27;
    font-size: 0.875rem;
    padding: 18px 60px;}

/* Footer */
#footer{
    text-align: center;
    font-size: 0.75rem;
    padding: 20px;}
#footer .SNS{
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    padding: 0;}
#footer .SNS li{
    margin: 0 10px;}

/* SP */
@media screen and (max-width:843px){
    #overview{
        flex-direction: column;}
    #overview .image{
        width: 100%;}
    #overview .image img{
        height: auto;}
    #overview .recipe{
        width: 100%;}
}