html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;}
body{
    color: #2d2d2d;
    font-family: 'Crimson Text', serif;}
img{width: 100%;}
a{
    color: #2d2d2d;
    text-decoration: none;}
ul{list-style: none;}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 18px;}

/* Hero */
#hero{
    width: 90vw;
    margin: 4% auto 0 auto;}

/* Header */
#header{
    width: 90vw;
    display: flex;
    align-items: center;
    margin: 0 auto 30px auto;
    padding: 32px 0;}
#header .site-title{
    width: 110px;
    line-height: 1px;
    margin-right: 50px;}
#header .site-title a{
    display: block;}
#header ul{
    display: flex;}
#header li{
    font-size: 0.875rem;
    margin-right: 30px;}
#header li:last-child{
    margin-right: 0;}

/* Concept & Work */
#concept, #work{
    display: flex;
    align-items: center;
    margin-bottom: 60px;}
#concept .image, #work .image{
    width: 50%;}
#concept .text, #work .text{
    width: 50%;
    padding: 0 7%;
    box-sizing: border-box;}
.section-title{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 4px;}
.section-title-en{
    display: inline-block;
    margin-bottom: 25px;}

/* Footer */
#footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 20px 0;}
#footer .logo{
    width: 110px;}

/* SP */
@media screen and (max-width: 767px){
    #hero{
        width: 100%;
        margin: 0;}
    #hero img{
        width: 100%;
        height: 50vh;
        object-fit: cover;}
    #header{
        width: 100%;
        margin: 20px 18px;
    }
    #concept{
        flex-direction: column;}
    #work{
        flex-direction: column-reverse;}
    #concept .image, #work .image{
        width: 100%;
        margin-bottom: 10px;}
    #concept .text, #work .text{
        width: 100%;
        padding: 0;}
    .section-title{
        font-size: 1.25rem;}
    
}