html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;}
body{
    color: #333;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;}
img{width: 100%;}
a{
    text-decoration: none;
    color: #333;}
li{list-style: none;}

.container{
    max-width: 800px;
    margin: 0 auto;}

/* Header */
#header{
    max-width: 1000px;
    margin: 0 auto 50px auto;
    padding: 45px 0 26px 0;
    border-bottom: solid 1px #c3c3c3;}
#header .logo{
    width: 110px;
    line-height: 1px;
    margin: 0 auto 30px auto;}
#header nav{
    display: flex;
    justify-content: space-between;
    align-items: center}
#header nav .menu, #header nav .login{
    display: flex;
    align-items: center;}
#header nav .menu li{
    margin-right: 14px;}
#header nav .login li{
    margin-left: 14px;}

/* Main */
#main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;}
#main .image{
    max-width: 400px;
    flex-shrink: 0;
    margin-right: 60px;}

#main .text .item-title{
    height: 60px;
    display: flex;
    align-items: center;
    border-top:solid 1px #c3c3c3;
    border-bottom:solid 1px #c3c3c3;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;}
#main .text p {
    margin-bottom: 30px;
    line-height: 1.9;}

#main table{
    border-collapse: collapse;
    border-spacing: 0;}
#main .order-table{
    width: 100%;
    margin-bottom: 20px;}
#main .order-table .color, 
#main .order-table .size{
    width: 20%;}
#main .order-table .quantity{
    width: 60%;}
#main .order-table td{
    border-top: solid 1px #c3c3c3;}
#main .order-table th, 
#main .order-table td{
    border-right: solid 1px #c3c3c3;
    text-align: center;
    font-weight: normal;
    padding: 10px;}
#main .order-table th:last-child, 
#main .order-table td:last-child{
    border-right: none;}
#main .order-table select{
    width: 100%;
    border: solid 1px #c3c3c3;
    appearance: menulist;}

#main .btn{
    width: 100%;
    background-color: #4B4B4B;
    color: #fff;
    display: block;
    line-height: 1;
    padding: 18px 0;
    margin-bottom: 30px;
    text-align: center;}

#main .size-table{
    width: 100%;}
#main .size-table .size{
    width: 16%;}
#main .size-table .chest,
#main .size-table .weist,
#main .size-table .height{
    width: 28%;}
#main .size-table th,
#main .size-table td:first-child{
    background-color: #ecebeb;}
#main .size-table th,
#main .size-table td{
    font-weight: normal;
    padding: 10px;
    border: solid 1px #c3c3c3;
    text-align: center;}

/* Footer */
#footer{
    text-align: center;
    padding: 10px 0;
    font-size: 0.625rem;}

/* SP */
@media screen and (max-width: 896px){
    #header{
        margin-bottom: 0;
        border-bottom: none;
        padding: 36px 16px 16px 16px;}
    #header nav {
        overflow-x: scroll;}
    #main{
        flex-direction: column; 
        margin: 0;
        padding: 0;}
    #main .image{
        max-width: 100%;
        margin: 0 0 10px 0}
    #main .text{
        padding: 0 16px;}
}