html{font-size: 100%;}
body{
    color:#333;
    font-size: 0.875rem;}
img{max-width: 100%;}
ul{
    list-style: none;}

.container{
    max-width: 1000px;
    margin:0 auto;}
.inner{
    max-width: 800px;
    margin:0 auto;}
.section-title{
    font-size:1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;}

/* Header */
#header{
    margin-top:60px;}
#header .site-title{
    width:180px;
    line-height: 1px;
    margin-bottom: 15px;}
#header .site-title a{
    display: block}

/* Hero */
#hero{
    margin-bottom: 60px;}

/* Index */
#index{
    background-color: #f5f5f5;
    padding:60px;
    margin-bottom: 60px;}
#index .index-inner{
    border: solid 1px #333;
    padding: 30px;}
#index .index-inner .index-list{
    display: table;
    margin: 0 auto;}
#index .index-inner .index-list li{
    margin-bottom:20px;}
#index .index-inner .index-list li:last-child{
    margin-bottom:0;}

/* Photo List */
#photo-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;}
#photo-list li{
    width:49%;
    margin-bottom: 15px;}
#photo-list li img{
    vertical-align: bottom;}

/* Detail */
#detail{
    background-color: #f5f5f5;
    padding:60px;
    margin-bottom: 60px;}
#detail .detail-box{
    display: flex;}
#detail dl{
    width:35%;
    border-right: solid 1px #333;
    padding-right: 40px;}
#detail dt{
    font-weight: bold;}
#detail dd{
    margin-bottom: 10px;}
#detail dd:last-child{
    margin-bottom: 0;}
#detail .text{
    width: 65%;
    padding-left: 40px;}
#detail .text p{
    margin-bottom: 20px;}
#detail .text .link{
    color: #333;}
#detail .text .link:hover{
    opacity: 0.8;}

/* Footer */
#footer{
    font-size: 0.625rem;
    padding: 15px 0;
    text-align: center;}


/* SP */
@media screen and (max-width: 1024px){
    .inner{
        padding: 0 20px;}
    #heading{
        padding: 0 10px;}
    #index{
        padding: 40px 20px;}
    #photo-list{
        flex-direction:column;}
    #photo-list li{
        width: 100%;
        text-align: center;}
    #detail{
        padding: 40px 20px;}
    #detail .detail-box{
        flex-direction: column;}
    #detail dl{
        width: 100%;
        border-right: none;
        border-bottom: solid 1px #333;
        padding: 0 0 40px 0;}
    #detail .text{
        width: 100%;
        padding: 40px 0 0 0;}
}
